$light-grey : #EEE;

h3 {
    span {
        font-size: 0.5em;
        font-weight: normal;
        background-color: $light-grey;
        padding: 0.25em 0.5em;
        position: relative;
        bottom: 0.45em;
        &.running {
            color: green;
        }

        &.stopped {
            color: red;
        }
    }
}

.config {
    height: 100%;
    display: block;
    position: relative;
    right: 1em;

    .box {
        //height: 90vh;
    }

    textarea {
        width: 100%;
        height: 100%;
    }
}

.active {
    border: 1px solid #CCC;
    background: #EEE;
}

.card-block > .row, .rule {
	border-bottom: 1px solid $light-grey;
}

.list-group-item.btn {
	color: #000;
	cursor: pointer;

	&:hover {
		background-color: #CCC;
	}
}

.msg {
	&.success {
		color: #3c763d;
	}
}

