<div class="modal-header">
    <h4 class="modal-title">Editing "{{ backup.title }}"</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body form-control">
    <form novalidate class="container">
        <div class="form-group row">
            <label class="col-form-label col-sm-2">Title</label>
            <input type="text"
                class="form-control col"
                name="title"
                placeholder="Box title"
                [(ngModel)]="backup.title" />
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2">Content</label>
            <input type="text"
                class="form-control col"
                name="content"
                placeholder="Box content"
                [(ngModel)]="backup.content" />
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2">Period [hours]</label>
            <input type="text"
                class="form-control col"
                name="period"
                placeholder="Period in hours"
                [(ngModel)]="backup.period" />
        </div>

        <div class="form-group row"
            *ngIf="backup.type == 'barchart'">
            <label class="col-form-label col-sm-2">Window [minutes]</label>
            <input type="text"
                class="form-control col"
                name="window"
                placeholder="60"
                [(ngModel)]="backup.window"/>
        </div>


        <div class="form-group row"
            *ngIf="backup.type == 'piechart' || backup.type == 'barchart'">
            <label class="col-form-label col-sm-2">Metric</label>
            <input type="text"
                class="form-control col"
                name="metric"
                placeholder="Metric"
                [(ngModel)]="backup.metric"
                [ngbTypeahead]="searchMetric" />
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2">Type</label>
            <select class="custom-select form-control col" [(ngModel)]="backup.type" name="type">
                <option *ngFor="let type of types" [value]="type.value">{{ type.name }}</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-outline-primary" (click)="activeModal.dismiss()">Cancel</button>
    <button class="btn btn-primary" (click)="close($event)">
        Save
    </button>

</div>
