@import "colors";

.btn {
    border: none;
    border-radius: 5px;
}
.btn-primary {
    color: $colorTextInverse;
    background-color: $colorMain;
}

.btn-primary:hover {
    background-color: $colorHighlight;
}
.btn:active,
.btn:target,
.btn-primary:active,
.btn-primary:target{
    background-color: $colorSelected;
    box-shadow: none;
}
