$black:     #000;
$white:     #fff;
$grey:      grey;
$lightGrey: #ccc;
$red:       red;
$green:     green;

$colorMain:        #313747;
$colorHighlight:   #717787; // lighten($colorMain, 25%);
$colorSelected:    #575D6D; // lighten($colorMain, 15%);
$colorSelected2:   #B0B6C6; // lighten($colorMain, 50%);
$colorBackground:  #FAFAFA;
$colorText:        #111;
$colorTextInverse: #fff;
$colorLink:        #111;
$colorLinkHover:   #333;
$colorHeading:     #555;
