@import "basicColors";

// Generated
$colorMain: #313747;
$colorHighlight: #3b4257;
$colorBackground: #FAFAFA;
$colorText: "#111";
$colorTextInverse: #fff;
$colorLink: "#111";
$colorLinkHover: "#333";
$colorHeading: "#555";
