$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

@import "variables";
@import "typography";
//@import "mixins";
//@import "login";
//@import "forms";

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;

	font-size: $font-size;
	font-family: $font-family;
	background-color: darken(#FFF, 2%);
}

.preloader {
	text-align: center;
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
	margin-top: 25%;
}

.align-right {
	text-align: right;
}

.username {
	font-size: 0.85em;
}

section.box {
	background: $white;
	padding: 1em;
	margin: 0.5em;
	border: 1px solid darken($white, 5%);
}

section.main {
	height: 100%;
	width: 100%;

	.content {
		padding: 0.5em 1em;
		float: left;
		margin-left: 150px;
	    width: calc(100% - 150px);
	    height: 100%;
		background-color: darken(#FFF, 2%);

		&.no-sidebar {
			margin: 0;
			width: 100%;
			padding: 0;
		}
		&.hidden-sidebar {
		    margin: 0;
		    width: 100%;
		}
	}

	.sidebar {
		box-shadow: none;
		background: $dark-menu;
		color: $light-gray;
		width: 150px;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		overflow: visible;
		display: block;
		float: left;

		h1 img {
			display: block;
			width: 90%;
			margin: 0.5em auto;
		}

		&.hidden {
		    left: -150px;
		}

		.menu {
			ul {
				list-style-type: none;
				padding: 0!important;
				width: 100%;

				li div {
					padding: 1em 0 1em 1em;
					text-align: left;
					cursor: pointer;

					&:hover {
						background: $dark-menu-active;
					}

					i.fa {
						font-size: 1.25em;
						padding-right: 5px;
					}
				}

				.active-link {
					//border-left: 3px solid #1f6eaa;
					-webkit-box-shadow:inset 3px 0 0 0 $blue;
					box-shadow:inset 3px 0 0 0 $blue;
					background: $dark-menu-active;
				}
			}
		}

		.user-area {
			a.user {
				color: $light-gray;
				border-color: $light-gray;
				cursor: pointer;
				text-align: center;
			}
		}

		.arrow {
		    position: absolute;
            right: -14px;
            z-index: 9999;
            color: $light-gray;
            background: $dark-menu;
            top: calc(50% - 16px);
            padding: 5px 3px 7px 4px;
            cursor: pointer;
		}
	}
}

[md-menu-item]{
	font-size: $font-size!important;
}

nemea-events .modal-dialog {
	//max-width: 65%!important;
}

.idea-event {
	em {
        font-weight: bold;
        font-style: normal;
    }
    .sub {
        padding-left: 1em;
    }

    span {
        font-family: 'Consolas', 'Courier', monospace;
        font-size: 1.2em;
    }
}

.row-space {
	margin: 1em;
}


.CodeMirror {
  border: 1px solid #eee;
  height: calc(90vh - 2em)!important;
}

.grid-placeholder {
	border: 2px dashed $gray!important;
	background: rgba(0,0,0,0.05)!important;
}
