<div class="page login">

<div class="login-box box flex-container"
	fxLayout="column"
	fxLayoutAlign="center center">
	<div class="row flex-item">
		<h2>Liberouter GUI</h2>
	</div>
	<form class="flex-item flex-container" fxLayout="column">
		<md-input-container class="flex-item">
			<input md-input type="text" [(ngModel)]=user.username placeholder="Username" name="username">
		</md-input-container>

		<!--div class="row input"-->
		<md-input-container class="flex-item">
			<!--label for="password">Password</label-->
			<input md-input type="password" [(ngModel)]=user.password placeholder="Password" name="password">
		</md-input-container>
		<!--/div-->

		<!--input type="submit" (click)="login()" value="Login" class="btn"-->
		<button md-raised-button color="primary" (click)="login()" class="flex-item">Login</button>

		<div class="error-message" *ngIf="formError">
			Error: {{ formErrorMsg }}
		</div>
	</form>
</div>

</div>

