.next-btn {
	margin: 1em auto 0 auto;
    display: block;
}

tr {
    &.whitelisted {
        color: #AAA;
        background: #fbfbfb;;
        &.hidden {
            display: none;
        }
    }
}
