$light-gray : #FAFAFA;
$gray : #CCC;
$white : #FFF;
$black : #000;
$blue : #BAE4F0;

$dark-menu : #313747;
$dark-menu-active : #3b4257;


/**
 * TYPOGRAPHY
 */

$font-size : 14px;
$font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;


/*
 * PADDINGS
 */
$pad : 1em;
$radius : 3px;
