<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Example</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <h4 class="card-title">Hello world!</h4>
                    </div>
                    <div class="card-content">
                        <p>Welcome to my first Liberouter GUI module!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
