<div class="modal-header">
	<h4 class="modal-title">Event detail</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body d-flex">
	<div [outerHTML]="data | idea" style="width: 50%"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="nerd()">NERD</button>
    <button class="btn btn-primary" (click)="scgui()">SecurityCloud</button>
	<button class="btn btn-primary" (click)="ftas()">FTAS</button>
	<!--button type="button" class="btn btn-primary" (click)="activeModal.close()" disabled>
		Source IP
	</button>

	<button type="button" class="btn btn-secondary" (click)="activeModal.close()" disabled>
		Target IP
	</button-->
	<button type="button" class="btn btn-secondary" (click)="activeModal.close()">
		Close
	</button>
</div>
