<div class="container-fluid">
    <div class="card">
        <h5 class="card-header card-primary card-inverse text-center">
            Profiles
        </h5>
        
        <div class="card-body" *ngIf="profiles != null">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Profile</th>
                        <th>Channels</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of linkList">
                        <td width="33%">{{ x.name }}</td>
                        <td width="33%">
                            <span class="badge" *ngFor="let c of profiles.getProfile(x.path).channels">
                                {{ c.name }}
                            </span>
                        </td>
                        <td width="33%">
                            <div class="btn-group" role="group">
                                <sc-view-modal
                                    [profile]="profiles.getProfile(x.path)">
                                </sc-view-modal>
                                <sc-create-modal
                                    [parentProfile]="profiles.getProfile(x.path)"
                                    (reloadProfiles)="reloadData()">
                                </sc-create-modal>
                                <sc-delete-modal
                                    [profilePath]="x.path"
                                    (reloadProfiles)="reloadData()">
                                </sc-delete-modal>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>