@import "../../../styles/colors";

.home {
    .card {
        position: relative;
        height: 100%;
        text-align: center;
    }
    .card-body {
        padding: 0;
    }
    .card-content {
        padding: 20px;
    }
    .card-header {
        background-color: $colorMain;
        padding-bottom: 0;
        h4 {
            color: $colorTextInverse;
        }
    }

}
.home-item {
    padding-top: 20px;
}
