.channelBox {
    height: 250px;
    overflow: auto;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #DDDDDD;
    overflow-x: hidden;
}

.btn-middle {
    border-radius: 0px;
}

.ng-invalid {
    border-color: red;
}