<div class="modal-header">
    <h4 class="modal-title">FTAS Settings</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body form-control">
    <form novalidate class="container">
        <div class="form-group row">
            <label class="col-form-label col-sm-2">URL</label>
            <input type="text"
                class="form-control col"
                name="url"
                placeholder="FTAS URL"
                [(ngModel)]="backup.url" />
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2">Full URL</label>
            <input type="text"
                class="form-control col"
                name="fullUrl"
                placeholder="Full URL"
                [(ngModel)]="backup.fullUrl" />
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2">Output</label>
            <input type="number"
                class="form-control col"
                name="output"
                placeholder="0"
                required
                [(ngModel)]="backup.output"/>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-4">Generated URL</label>
            <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary"
                        [ngClass]="{'active' : backup.showUrl == 1}"
                        title="Show">
                        <input type="radio" data-toggle="tooltip"
                            name="options"
                            id="option1"
                            autocomplete="off"
                            [value]="1"
                            [(ngModel)]="backup.showUrl">
                        Show
                    </label>
                    <label class="btn btn-primary"
                        [ngClass]="{'active' : backup.showUrl == 0}"
                        title="Hide">
                        <input type="radio"
                            name="options"
                            id="option1"
                            autocomplete="off"
                            [value]="0"
                            [(ngModel)]="backup.showUrl">
                        Hide
                    </label>
                </div>

        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-outline-primary" (click)="activeModal.dismiss()">
        Cancel
    </button>
    <button class="btn btn-primary" (click)="close($event)">
        Save
    </button>

</div>

