#custom-navbar .nav-item {  
	-ms-flex-preferred-size: 0;  
	flex-basis: 0;  
	-webkit-box-flex: 1;  
	-ms-flex-positive: 1;  
	flex-grow: 1;  
	max-width: 100%;  
	text-align: center;
	background: #ccc;
}
