<sc-dbqry-iplookup #IPLookup></sc-dbqry-iplookup>

<div class="card">
    <h4 class="card-header card-primary card-inverse text-center">
        Database Query
    </h4>
    
    <div class="card-body">
        <div class="row">
            <!-- Filter textarea -->
            <div class="col-lg-6">
                <div class="card card-outline-secondary">
                    <h6 class="card-header text-center">
                        Filter
                    </h6>
                    
                    <div class="card-body">
                        <textarea class="form-control" rows="5" [(ngModel)]="filter"></textarea>
                    </div>
                </div>
            </div>
            
            <!-- Options -->
            <div class="col-lg-6">
                <div class="card card-outline-secondary">
                    <ngb-tabset justify="center" (tabChange)="beforeTabChange($event)">
                        <ngb-tab id="custom-navbar" title="Fast Options" id="FastOptions">
                            <ng-template ngbTabContent>
                                <div class="card" style="border-color: white">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-sm-2 col-xs-4">
                                                <b>Limit to:</b>
                                            </div>
                                            <div class="col-sm-4 col-xs-8">
                                                <select [(ngModel)]="selectedLimit"
                                                    class="form-control">
                                                    <option *ngFor="let limit of limitto"
                                                        [value]="limit.value">
                                                        {{ limit.desc }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 col-xs-4">
                                                <b>Aggregate:</b>
                                            </div>
                                            <div class="col-sm-4 col-xs-8">
                                                <input type="text" placeholder="Type csv keywords"
                                                    class="form-control"
                                                    [(ngModel)]="selectedAggregation"
                                                    [ngbTypeahead]="searchForAggregField"
                                                    [resultFormatter]="formatter" />
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-sm-2 col-xs-4">
                                                <b>Order by:</b>
                                            </div>
                                            <div class="col-sm-4 col-xs-8">
                                                <select *ngIf="fields != null"
                                                class="form-control" [(ngModel)]="selectedOrderBy">
                                                    <option *ngFor="let x of fields"
                                                        [value]="x.name" [title]="x.hint">
                                                        {{x.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 col-xs-4">
                                                <b>Direction:</b>
                                            </div>
                                            <div class="col-sm-4 col-xs-8">
                                                <select class="form-control"
                                                    [(ngModel)]="selectedOrderDir">
                                                    <option value="">
                                                        Default
                                                    </option>
                                                    <option value="#asc">
                                                        Ascending
                                                    </option>
                                                    <option value="#desc">
                                                        Descending
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-sm-2 col-xs-4">
                                                <b>Output:</b>
                                            </div>
                                            <div class="col-sm-4 col-xs-8">
                                                <select class="form-control"
                                                    [(ngModel)]="selectedOutputFmt">
                                                    <option value="pretty">
                                                        Pretty
                                                    </option>
                                                    <option value="csv">
                                                        Csv
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 col-xs-4">
                                                &nbsp;
                                            </div>
                                            <div class="col-sm-4 col-xs-8">
                                                <label>
                                                    <input type="checkbox" [(ngModel)]="nosummary">
                                                    No summary
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        
                        <ngb-tab title="Custom Options" id="CustomOptions">
                            <ng-template ngbTabContent>
                                <div class="card">
                                    <div class="card-body">
                                        <sc-dbqry-fdisthelp></sc-dbqry-fdisthelp>
                                        <textarea class="form-control" rows="4"
                                            [(ngModel)]="customOpts">
                                        </textarea>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                    
                    <div class="card-footer">                    
                        <button [ngClass]="btnQuery.style" (click)="btnQueryClick($event)">
                            {{ btnQuery.label }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Output processing -->
    <div class="card-footer">
        <pre class="box" *ngIf="toPrint_command != null"> {{ toPrint_command }} </pre>

        <div class="progress" *ngIf="timer != null && !btnQuery.querying">
            <div class="progress-bar" role="progressbar" [ngStyle]="progressStyle"></div>
        </div>
        
        <ngb-tabset *ngIf="fancy && toPrint_stdout != null">
            <ngb-tab title="Formatted Output">
                <ng-template ngbTabContent>
                    <div class="box mb-4" *ngFor="let section of toPrint_stdout">
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let item of section.header">
                                        {{ item }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of section.data">
                                    <td *ngFor="let item of row; let i=index">
                                        <a class="link-lookup" *ngIf="isIpField(section.header[i])"
                                            (click)="iplookupComponent.openModal(item)">
                                            {{ item }}
                                        </a>
                                        <span *ngIf="!isIpField(section.header[i])">
                                            {{ item }}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Raw Output">
                <ng-template ngbTabContent>
                    <pre class="box">{{ toPrint_stdoutRaw }}</pre>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
        
        <pre class="box" *ngIf="!fancy && toPrint_stdout != null">{{ toPrint_stdout }}</pre>
        
        <pre class="box" *ngIf="toPrint_stderr != null">{{ toPrint_stderr }}</pre>
    </div>
</div>