
<section class="lrg-screen-center">
    <div class="lrg-form-container" >
        <div class="lrg-form-header">
            <h1 class="lrg-form-heading">Welcome to {{ name }}</h1>
            <p class="lrg-form-header-text">You are now all set! Just create an administrator account and you can start using {{ name }}.</p>
        </div>
        <form (ngSubmit)="onSubmit()" #setupForm="ngForm" novalidate>
            <label for="username" class="lrg-form-label">Choose your username</label><br>
            <input class="lrg-form-input" type="text" name="username" id="username" placeholder="username" [(ngModel)]="admin.username" required><br>
            <label for="username" class="lrg-form-label">Choose a secure password</label><br>
            <input class="lrg-form-input" type="password" name="password" id="password" placeholder="password" [(ngModel)]="admin.password" required><br>
            <label for="username" class="lrg-form-label">Re-enter the same password</label><br>
            <input class="lrg-form-input" type="password" name="password2" id="password2" placeholder="repeat password" [(ngModel)]="admin.password2" required><br>
            <input type="submit" value="Create" class="lrg-form-button-big" [class.disabled]="admin.password != admin.password2 || !setupForm.form.valid"><br>

            <p class="lrg-form-error" role="alert" *ngIf="error != ''">
                <span *ngIf="error['error']"> {{ error['error'] }}</span>
                <span *ngIf="!error['error']">{{ error }}</span>
            </p>
        </form>
    </div>

</section>
