<section class="box">
	<h2>Liberouter GUI Setup</h2>

	<p>You need to setup an administrator account to access Liberouter GUI</p>

	<form (ngSubmit)="onSubmit()" #setupForm="ngForm" novalidate>
		<div class="form-group">
			<label for="username">Username *</label>
			<input type="text" name="username" id="username" class="form-control" placeholder="admin" [(ngModel)]="admin.username" required>
		</div>

		<div class="form-group">
			<label for="password">Password *</label>
			<input type="password" name="password" id="password" class="form-control" placeholder="password" [(ngModel)]="admin.password" required>
		</div>

		<div class="form-group">
			<label for="password2">Password Confirmation *</label>
			<input type="password" name="password2" id="password2" class="form-control" placeholder="password" [(ngModel)]="admin.password2" required>
			<small>Re-enter the same password as above to make sure you haven't mispelled it</small>
		</div>

		<button type="submit"
			class="btn btn-primary"
			[disabled]="admin.password != admin.password2 || !setupForm.form.valid">
			Create
		</button>

		<span class="alert alert-danger" role="alert" *ngIf="error != ''">
			{{ error }}
		</span>
	</form>
</section>
