<h2>
	<a routerLink='/nemea'>
		<md-icon>keyboard_arrow_left</md-icon> Nemea Status
	</a>
</h2>


<div id="content">

 <p class="error" *ngIf="error">ERROR: Getting NEMEA topology failed:<br>
	{{ error | json }}
 </p>

Refresh interval:
<select id="refresh-select" onchange="set_refresh_interval(this.value)">
 <option value="1">1s</option>
 <option value="2">2s</option>
 <option value="5" selected>5s</option>
 <option value="10">10s</option>
 <option value="30">30s</option>
 <option value="60">60s</option>
 <option value="paused">paused</option>
</select>

{{ img_path[0] }}
<img *ngIf="refreshing" src="img/spin.gif" alt="Loading" width="14" height="16">
<span *ngIf="error"> {{ error }}</span>
<br>
Last refresh: {{ last_refresh_time }}

<table class="modules">
	<tr *ngFor="let module of data">
		<td class="input-col">
			<div *ngFor="let ifc of module[1]['inputs']" class="ifc">
				<div *ngIf="ifc">
					<!-- id="{{ name }}_INIFC{{ loop.index-1 }}" -->
					<span class="ifc-name" title="IFC type and parameters">
						{{ ifc['type'] }}:{{ ifc['ID'] }}
					</span>
					<span class="ifc-counter" title="Number of messages transferred per second">
						<span *ngIf="module[1]['in_counter'] > 0">{{ module[1].in_counter | number : '1.0-0' }}/s</span>
						<span *ngIf="module[1]['in_counter'] == 0">--/s</span>
					</span>
					<span class="ifc-marker" [ngClass]="[ifc['cli-num'] > 0 ? 'notconnected' : 'connected']">
						{{ ifc['cli-num'] }}
					</span>
				</div>
			</div>
		</td>

		<td id="{{ module[0] }}" class="module-col" [ngClass]="[module[1].status]">
			<div class="module-cpu" title="CPU usage">
				<span *ngIf="module[1]['cpu'] >= 0">{{ module[1]['cpu'] }} %</span>
				<span *ngIf="module[1]['cpu'] == undefined">-- %</span>
			</div>
			<div class="module-mem" title="Memory consumption">
				<span *ngIf="module[1]['mem'] >= 0">{{ module[1]['mem'] / 1024 | number : '1.2-2' }} MB</span>
				<span *ngIf="module[1]['mem'] == undefined">-- MB</span>
			</div>
			<div class="module-name">{{ module[0] }}</div>
			<div class="exec-name">{{ module[1]['path'] }}</div>
		</td>

		<td class="output-col">
			<div *ngFor="let ifc of module[1]['outputs-avg']" class="ifc">
				<!-- id="{{ module[0] }}_OUTIFC{{ loop.index-1 }}" -->
				<span class="ifc-marker" [ngClass]="[ifc['cli-num'] > 0 ? 'connected' : 'notconnected']">
					<span *ngIf="ifc['cli-num'] > 0">{{ ifc['cli-num'] }}</span>
				</span>
				<span class="ifc-counters">
					<span class="ifc-counter">
							{{ ifc['sent-msg-avg'] | number : '1.0-2' }}/s
					</span>
					<span class="ifc-counter-dropped" [ngClass]="setDropClass(ifc)">
							{{ ifc['drop-msg-avg'] | number : '1.0-2' }}/s
					</span>
				</span>
				<span class="ifc-name">{{ ifc['type'] }}:{{ ifc['ID'] }}</span>
			</div>
		</td>
	</tr>
</table>
