//@import "normalize";
//@import '../node_modules/@angular/material/core/theming/prebuilt/indigo-pink.css';
@import '../node_modules/@angular/material/core/theming/all-theme';

@include md-core();

$candy-app-primary: md-palette($md-indigo);
$candy-app-accent:  md-palette($md-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    md-palette($md-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: md-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

@import "variables";
@import "typography";
//@import "mixins";
//@import "grid";
//@import "login";
//@import "forms";

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;

	font-size: $font-size;
	font-family: $font-family;
}

.preloader {
	text-align: center;
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
	margin-top: 25%;
}

.align-right {
	text-align: right;
}

.username {
	font-size: 0.85em;
}

md-sidenav-container {
	height: 100%;

	md-sidenav, md-sidenav.md-sidenav-opened, md-sidenav.md-sidenav-opening {
		box-shadow: none;
		background: $dark-menu;
		color: $light-gray;
		min-width: 50px;

		.menu {
			list-style-type: none;
			padding: 0!important;

			li {
				padding: 1em 0;

				&:hover {
					background: $dark-menu-active;
				}
			}

			.active-link {
				//border-left: 3px solid #1f6eaa;
				-webkit-box-shadow:inset 3px 0 0 0 $blue;
				box-shadow:inset 3px 0 0 0 $blue;
				background: $dark-menu-active;
			}
		}
	}
}

[md-menu-item]{
	font-size: $font-size!important;
}
