<section *ngIf="appConfig.auth" class="lrg-screen-center">
    <div class="lrg-form-container">
        <div class="lrg-form-header">
            <img class="lrg-form-logo" [src]="logo?.src" [alt]="logo?.alt" *ngIf="logo?.src" />
        </div>
        <form>
            <label for="username" class="lrg-form-label">Enter your username</label><br>
            <input class="lrg-form-input"
                   type="text"
                   id="username"
                   [(ngModel)]="user.username"
                   placeholder="Username"
                   name="username"><br>
            <label for="username" class="lrg-form-label">Enter your password</label><br>
            <input class="lrg-form-input"
                   type="password"
                   id="password"
                   placeholder="Password"
                   [(ngModel)]="user.password"
                   name="password"><br>

            <button class="lrg-form-button-big"
                    (click)="login()"
                    [disabled]="loading">
                {{ loginBtn }}</button><br>

            <p class="lrg-form-error" role="alert" *ngIf="error != ''">
                <span *ngIf="formErrorMsg"> {{ formErrorMsg }}</span>
            </p>
        </form>
    </div>

</section>
<section *ngIf="!appConfig.auth" class="d-flex justify-content-center align-content-center align-items-center login-container">
    <div class="error-message" *ngIf="formError">
        Error: {{ formErrorMsg }}
    </div>
</section>
