.login-container {
	height: 100%;
	background-color: #FAFAFA;
}

.login {
	width: 22em;
	-webkit-box-shadow: 0 0 15px 0px rgba(0,0,0,0.5);
	box-shadow: 0 0 15px 0px rgba(0,0,0,0.5);
	padding: 0em;

	h2 {
		padding: 0em 2em 0em 2em;
		background-color: #313747;
		color: #FAFAFA;
		span {
			display: none;
		}

		img {
			display: block;
			width: 100%;
		}
	}

	form {
		padding: 1em 2em 2em 2em;
		button {
			cursor: pointer;
			background-color: #313747;
			border-color: #313747;
			color: #FAFAFA;
		}
		button:hover {
			background-color: #3b4257;
		}
	}
}
