<section class="main">
	<div class="sidebar" *ngIf="!isLoginPage">

		<h1 class="user-area">
			<img src="assets/logo.png" alt="Liberouter GUI">
		</h1>

		<div class="user-area ">
			<div ngbDropdown class="d-flex flex-column align-content-center">
				<a class="user" id="dropdownMenu1" ngbDropdownToggle>
					{{ user?.user?.username }}
				</a>
				<div class="dropdown-menu" aria-labelledby="userActions">
					<button class="dropdown-item">Action - 1</button>
					<button class="dropdown-item" routerLink='["users", user["user"]["_id"]["$oid"]]'>Profile</button>
					<button class="dropdown-item" routerLink="logout">
						Logout
					</button>
				</div>
			</div>
		</div> <!-- /user-area -->

		<div class="menu d-flex flex-column align-content-center">
			<ul>
			<li
				class="flex-container"
				routerLink="/"
				routerLinkActive="active-link"
				[routerLinkActiveOptions]="{exact:true}">
				<i class="fa fa-home" aria-hidden="true"></i>
				<span class="flex-item">Home</span>
			</li>

			<li
				*ngFor="let module of modules"
				class="flex-container"
				routerLink="{{module.path}}"
				routerLinkActive="active-link"
				>
				<i class="fa" aria-hidden="true" *ngIf="module.icon != ''" [ngClass]="module.icon"></i>
				<span class="flex-item">{{ module.name }}</span>

				<!-- <div *ngIf="router.url == '/' + module.path" class="flex-item">
					<div *ngFor="let child of children">
						<span *ngIf="child.path != ''">
							<span (click)="setPath([module.path,'protected'])">
								{{ child.data.name }}
							</span>
						</span>

					</div>
				</div> -->
			</li>

			</ul>
		</div>
	  <!--button md-button #closeStartButton (click)="start.close()">Close</button-->
	</div>

	<div class="content" [ngClass]="{'no-sidebar' : isLoginPage}">
		<router-outlet></router-outlet>
	</div>

</section> <!-- container-fluid -->

