.box {
	background: white;
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 5px;
	text-align: center;
}

.box .form-check {
    margin-bottom: 0px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.navig-group-justified {
    width: 100%;
}

.navig-group-justified>button {
    width: 20%;
}