<section class="box">
    <h4 *ngIf="msg.length > 0">{{ msg }}</h4>
    <iframe *ngIf="url" [src]="url | safe" class="frame">
		<div class="alert alert-danger">
			Your browser doesn't support iframes
		</div>
	</iframe>
</section>

<section class="box" *ngIf="config?.showUrl == 1">
    <em> Generated URL:</em> <input type="text" [(value)] ="url">
    <small>If an error occurs, you can use this URL to access ftas directly</small>
</section>

<button class="btn btn-primary" (click)="openSettings()">Settings</button>
