.frame {
    width: 100%;
    height: calc(100vh - 5em - 65px);
    border: none;
}

.white_text {
	color: white;
}

.nav-item {
	-ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}
